.cart {
	background-color: $background-white-1;
	padding: 60px 0;
	border-top: 1px solid $background-pink-1;
	&-item {
		background-color: #fff;
		border-radius: 10px;
		padding: 15px 20px;
		margin-bottom: 20px;
		img {
			width: 115px;
		}
		h5{
			padding: 0 45px;
		}
	}
	&-status{
		text-align: right;
	}
	&-center_item{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&-remove_item{
		width: 25px !important;
	}
	.form-control {
		background-color: #F6F5FA;
		border: none;
		width: 65px;
		border-radius: 10px !important;
		font-weight: 700;
		font-size: 20px;
	}
	.input-group {
		width: unset;
		flex-wrap: nowrap;
	}
	.check-out {
		float: right;
		font-size: 20px;
		background-color: #008848;
		border: none;
	}
}







