.page-section {
	padding: 4em 0;
}

.main-menu {
	color: #c0aa83;
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	font-weight: 900;
}

a.link-menu {
	text-decoration: none;
	color: #c0aa83;
}

.footer-info {
	background-color: #000;
}

.scroll-to-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #242424;
	background: #c0aa83;
	line-height: 46px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
	color: #242424;
}

.scroll-to-top:hover {
	color: #c0aa83;
}

.rounded {
	border-radius: 0.25rem !important;
}

.footer-title {
	color: #fff;
	font-family: 'Kanit', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 46px;
}

.copyright {
	color: #c0aa83;
	font-family: 'Kanit', sans-serif;
	font-size: 14px;
	font-weight: 300;
}


#mainNav {
	-webkit-box-shadow: 0.05rem 1rem rgba(0, 0, 0, 0.15);
	box-shadow: 0.05rem 1rem rgba(0, 0, 0, 0.15);
	background-color: #fff;
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {

	font-family: 'Kanit', sans-serif;
	font-weight: 700;

}

#mainNav .navbar-nav .nav-item .nav-link {
	color: #242424;
	font-family: 'Kanit', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	padding: 0.75rem 0;
}

.navbar-nav {
	display: -webkit-box;
	display: -ms-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-item .nav-link {
	padding-left: 0;
	padding-right: 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #c0aa83 !important;
}

li.nav-item {
	display: inline;
	padding: 10px;
}

.btn-light {
	background-color: #c0aa83;
	border-color: #c0aa83;
	color: #fff;
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	font-weight: 900;

}

.btn-light:hover {
	background-color: #fff;
	border-color: #c0aa83;
	color: #c0aa83;
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	font-weight: 900;

}

.btn-dark {
	background-color: #242424;
	border-color: #242424;
	color: #fff;
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	font-weight: 900;

}

.btn-dark:hover {
	background-color: #fff;
	border-color: #242424;
	color: #242424;
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	font-weight: 900;

}

.blog-sidebar-title {
	font-size: $font-size-html;
	text-transform: uppercase;
}



.page_product-ul {
	background-color: #fff;
	padding: 0;
}

.page_product-li {
	list-style: none;

	ul {
		li {
			list-style: none;
			padding: 10px 0;

			a {
				text-decoration: none;
				color: $color-black;

				&:hover {
					color: $color-black;
					font-weight: bold;
				}

			}
		}
	}

}

a.page_product-a {
	display: block;
	padding: 10px 15px;
	color: #000;
	font-size: $font-size-html;
	text-decoration: none;
	text-transform: uppercase;
}

.page_product-icon {
	// width: $font-size-2;
	text-align: center;
	margin-right: 5px;
	float: right;
}


// card
.card {
	&-product {
		.tags {
			color: $color-orange;

			span {
				color: black;
				text-decoration:line-through;
			}
			span.sale{
				color: $color-orange;
			}
		}
	}
}