.product {
    padding: 50px 0;

    .product-menu>ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        li {
            list-style: none;

            a {
                font-size: $font-size-2;
                font-weight: $font-weight-bold;
                color: $color-black;
                text-decoration: none;
            }
        }
    }

    &-box {
        position: relative;
        width: 100%;
        height: 170px;
        background-color: $background-pink-1;
        border: 1px solid $color-black;
        overflow: hidden;
        border-radius: 10%;

        &-top {
            position: absolute;
            top: 0;
            width: 100%;
            transition: .5s;
        }

        &-bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: $font-size-small-2;
            text-align: center;
            font-weight: $font-weight-bold;
            background-color: $background-pink-1;
            transition: .5s;
        }

        &:hover {
            .product-box-top {
                transform: scale(1.1);
                transition: .5s;
            }

            .product-box-bottom {
                transform: scaleY(1.2);
                transition: .5s;
            }
        }
    }

    &-box_2 {
        &-ratings {
            display: flex;
            gap: 0 10px;
            font-size: $font-size-small-1;

            &-icon {
                color: $color-yellow-1;
            }

            &-number {
                font-weight: $font-weight-normal;
                font-size: $font-size-small-1;
            }
        }

        &-title {
            font-size: $font-size-small-2;
            font-weight: $font-weight-bold;
        }

        &-price {
            display: flex;
            gap: 0 10px;

            &-new {
                font-size: $font-size-small-2;
                font-weight: bold;
            }

            &-old {
                font-size: $font-size-small-2;
                font-weight: $font-weight-normal;

            }
        }

        &-top {
            position: relative;

            &-heart {
                position: absolute;
                left: 90%;
                top: 80%;
                color: red;
            }
        }

        &-bottom {
            background-color: $background-white-1;
            text-align: center;
            border-radius: 10px;
            padding: 5px 0;
            margin-top: 5px;
            font-weight: $font-weight-normal;

            &:hover {
                background-color: $background-pink-1;
            }
        }
    }

}

// responsive
@media screen and (max-width: 778px) {
    .col-sm-4 {
        padding-top: 10px;
    }
}

@media screen and (max-width: 992px) {
    .product {
        .product-menu>ul {
            li {
                a {
                    font-size: $font-size-small-2;
                    font-weight: $font-weight-bold;
                }
            }
        }

        &-box {
            height: 140px;

            &-top {
                width: 100%;
            }

            &-bottom {
                margin: 0;
                padding: 0;
                font-size: $font-size-small-2;
            }
        }
    }
}